footer{
    margin-top: 20px;
    background-color: rgb(255, 84, 84);
}
footer>div{
    color:white;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}